/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Gotham";
    src: local(Gotham), url(/assets/fonts/gotham/GothamMedium.ttf);
}

@font-face {
    font-family: "Gotham Bold";
    src: local(Gotham), url(/assets/fonts/gotham/GothamBold.ttf);
}

/* Reset CSS */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}


section:target {
    scroll-margin-top: 200px;
}

.menu-principal {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding: 30px 20px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: #DE1833;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 999;
}

.menu-principal ul {
    display: inline-flex;
    margin: 0 auto;
    margin-left: -7%;
}

.menu-principal li {
    margin: 0 auto;
    
}

.menu-principal li a {
    color: #fff;
    text-decoration: none;
    padding: 0 50px 10px;
}

.nav-link.active {
    background-image: url(/assets/img/bg-menu-target.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}

.cta {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 377px;
    height: auto;
    display: inline-block;
    padding: 26px 0;
}

.cta-azul {
    background: url(/assets/img/cta-azul.png) no-repeat;
}

header {
    margin: 0 auto;
    padding: 50px 0 200px;
    background: #DE1833;
    background-size: cover;
}

.topo {
    background: url(/assets/img/fundo-amarelo.svg) no-repeat;
    width: 100%;
    min-height: 200px;
    background-size: cover;
    text-align: center;
    padding: 60px 0 92px;
    margin-top: 60px;
}

.topo p {
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    max-width: 725px;
    margin: 0 auto;
    padding: 40px 0 30px;
}

.logo {
    margin-left: -60px;
}

.cozi {
    position: absolute;
    display: block;
    margin-left: -7.8%;
    margin-top: 10px;
}

/* O Projeto */
#projeto {
    background: #364A98;
    padding-bottom: 130px;
}

#projeto .container {
    max-width: 1052px;
}

#projeto:target {
    scroll-margin-top: 30px;
}

.bg-projeto {
    background: url(/assets/img/azul-o-projeto.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 290px;
    margin-top: -290px;
    position: absolute;
}

.bg-projeto .conjunto-dir {
    float: right;
    margin-top: 11%;
}

.titulo-secao {
    display: inline-flex;
}

h2 {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
}

.titulo-secao h2 {
    padding: 0 30px;
    margin-top: 6px;
}

.videos {
    padding: 62px 0 32px;
}

.video-menor {
    margin-bottom: 13px;
}

.txt-projeto p {
    margin-bottom: 30px;
}

.txt-projeto {
    padding-bottom: 62px;
}

.cta-amarelo {
    background: url(/assets/img/cta-amarelo.png) no-repeat;
}

.saiba-mais {
    text-align: center;
}

.saiba-mais .cta {
    color: #000;
}

/* Seção Galeria */
#galeria {
    padding-bottom: 200px;
    color: #fff;
}

.bg-galeria {
    background-image: url(/assets/img/branco-pagina-o-projeto.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: -50px;
    position: absolute;
}

.conjunto-esq {
    margin-top: -38px;
    margin-left: 40px;
}

#galeria .container {
    max-width: 1052px;
}

#galeria .titulo-secao {
    margin-top: 80px;
}

#galeria .titulo-secao h2 {
    color: #000;
}

.wraper-galeria {
    padding: 36px 20px 58px;
}

.ver-mais {
    text-align: center;
}

/* Seção Como Posso Contribuir */
#contribuir {
    background-color: #DE1833;
    padding-bottom: 80px;
}

.bg-contribuir {
    background-image: url(/assets/img/vermelho-contribuir.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-top: -140px;
    position: absolute;
}

.bg-contribuir .conjunto-dir {
    margin-top: 40px;
    margin-right: 40px;
    float: right;
}

#contribuir .container {
    max-width: 1052px;
}

#contribuir .titulo-secao {
    text-align: right;
    display: block;
    padding-top: 60px;
}

#contribuir .titulo-secao h2 {
    margin-top: 0;
    padding: 0;
}

.img-ajudar {
    margin-top: 30px;
    margin-left: -26%;
}

.content-dir {
    margin-top: 36px;
    text-align: right;
}

h3 {
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #fff;
}

.content-dir p {
    margin: 36px 0 56px;
}

.cta-contribua {
    text-align: right;
}

.cta-preto {
    background-image: url(/assets/img/cta-preto.png);
    background-repeat: no-repeat;
    width: 428px;
    max-width: 100%;
}

/* Seção Imprensa */
#imprensa {
    background-color: #FFEB4C;
    padding: 0 0 310px;
    margin-top: 0;
}

#imprensa .container {
    max-width: 1052px;
}

.bg-imprensa {
    background-image: url(/assets/img/amarelo-imprensa.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 260px;
    margin-top: -245px;
    position: absolute;
}

.bg-imprensa .conjunto-dir {
    float: right;
    margin-top: 102px;
    margin-right: 40px;
}

#imprensa .titulo-secao {
    margin-top: 20px;
}

#imprensa .titulo-secao h2 {
    color: #000;
}

#imprensa p {
    margin: 34px 0 50px;
    color: #000;
    font-weight: 500;
}

.noticia {
    background-image: url(/assets/img/fundo-noticias.png);
    background-repeat: no-repeat;
    padding: 16px;
}

#imprensa .a-noticia {
    text-decoration: none;
}

#imprensa .noticia h4 {
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000;
    margin: 10px 0 0;
}

#imprensa .noticia p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #000;
    margin: 14px 0 0;
}

#imprensa .swiper-button-next {
    background-image: url(/assets/img/botao-next.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 63px;
}

#imprensa .swiper-button-prev {
    background-image: url(/assets/img/botao-prev.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 63px;
}

#imprensa .swiper-button-next.swiper-button-disabled, #imprensa .swiper-button-prev.swiper-button-disabled {
    display: none;
}

#imprensa .swiper-button-next:after, #imprensa .swiper-button-prev:after {
    content: none;
}

/* Seção Prestação de Contas */
#prestacao-de-contas {
    background-color: #000;
    padding: 0 0 180px;
}

.bg-prestacao-de-contas {
    background-image: url(/assets/img/preto-contas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 246px;
    margin-top: -245px;
    position: absolute;
}

#prestacao-de-contas .conjunto-esq {
    margin-top: 10px;
    margin-left: 40px;
}

#prestacao-de-contas .container {
    max-width: 1052px;
}

#prestacao-de-contas .row {
    padding: 92px 0 0;
}

#prestacao-de-contas p {
    margin-bottom: 30px;
}

.prestacao-img {
    margin-top: -180px;
}

.garfo-prest {
    margin-top: -30px;
    margin-left: -18px;
}

.dados p {
    text-align: center;
}

#prestacao-de-contas .dados .dados-num {
    margin-bottom: 10px;
    font-family: 'Gotham Black', sans-serif;
    font-size: 130px;
    line-height: 1;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #000;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #DE1833;
}

.gastos h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.gastos h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: right;
    text-transform: uppercase;
    padding: 10px 0;
}

#prestacao-de-contas .gastos .num-porcent {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    border-radius: 0px 50px 50px 0px;
    padding: 10px;
}

.col-gastos {
    margin-bottom: 10px;
}

.gastos .num-porcent.num-const {
    background: #DE1833;
    max-width: 48%;
}

.gastos .num-porcent.num-reparos {
    background: #364A98;
    max-width: 15%;
}

.gastos .num-porcent.num-trab {
    background: #FFEB4C;
    max-width: 30%;
    color: #000;
}

.gastos .num-porcent.num-alim {
    background: #DE1833;
    max-width: 80%;
}

.gastos .num-porcent.num-utens {
    background: #364A98;
    max-width: 24%;
}

.gastos .num-porcent.num-gas {
    background: #FFEB4C;
    max-width: 3%;
    color: #000;
}

.gastos .num-porcent.num-gas span {
    color: #fff;
}

.gastos .num-porcent.num-log {
    background: #DE1833;
    max-width: 13%;
}

.gastos .num-porcent.num-outros {
    background: #364A98;
    max-width: 0%;
}

/* Seção Ajude a Divulgar */
#divulgar {
    background-color: #DE1833;
    padding-bottom: 130px;
}

.bg-divulgar {
    background-image: url(/assets/img/vermelho-divulgar.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-top: -60px;
    position: absolute;
}

.bg-divulgar .conjunto-dir {
    float: right;
    margin-top: -4px;
    margin-right: 40px;
}

#divulgar .container {
    max-width: 1052px;
}

.row.ajude-divulgar {
    padding-top: 102px;
}

.cozinha-pessoas {
    margin-left: -30%;
    margin-top: 40px;
}

#divulgar .titulo-secao img {
    width: 100%;
    height: 100%;
}

#divulgar .titulo-secao h2 {
    max-width: 100%;
}

#divulgar .titulo-secao.linha-dois {
    margin-left: -20px;
    padding-top: 0;
    padding: 0;
    width: 105%;
}

#divulgar .titulo-secao.linha-dois h2 {
    padding: 0;
}

#divulgar .titulo-secao {
    padding-top: 40px;
}

.titulo-secao.linha-um {
    float: right;
}

.desc-divulgar {
    margin-top: 30px;
    text-align: right;
}

.link-apoia-se {
    color: #FFEB4C;
}

.compartilhe {
    text-align: right;
    margin-top: 30px;
}

.cta-branco {
    color: #000;
    background-image: url(/assets/img/btn-fundo-branco.png);
    background-repeat: no-repeat;
}


/* Rodapé */
footer {
    background-color: #000;
    padding-bottom: 130px;
}

.bg-footer {
    background-image: url(/assets/img/preto-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    margin-top: -34px;
    position: absolute;
}

footer .container {
    padding-top: 70px;
    max-width: 1052px;
}

.nav-footer li {
    margin-bottom: 24px;
}

.nav-footer li a {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-decoration-line: underline;
}

.nav-footer.nav-right {
    float: right;
}

.footer-medium {
    text-align: center;
}

.footer-medium a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #fff;
}

.link-mtst {
    margin-top: 24px;
}

.link-nucleo {
    margin-top: 60px;
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
}

.link-nucleo a {
    color: #fff;
}

.redes-sociais {
    margin-top: 30px;
    display: inline-flex;
}

.redes-sociais li {
    margin: 0 12px;
}